@mixin curvebase {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
}

@mixin curvestyle($frontcolor, $backcolor) {
    &::before {
        @include curvebase;
        @include curvebefore($backcolor);
    }

    &::after {
        @include curvebase;
        @include curveafter($frontcolor);
    }
}

@mixin curvebefore($color) {
    transform: translate(85%, 60%);
    z-index: 0;
    background-color: $color;
}

@mixin curveafter ($color) {
    background-color: $color;
    transform: translate(-4%, 40%);
    z-index: 1;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;

    &.color-red {
        @include curvestyle(#c7210b, #0f0f10);
    }

    &.color-blue {
        @include curvestyle(#3c31dd, #0f0f10);
    }

    &.color-gray {
        @include curvestyle(#8495AE, #0f0f10);
    }
    &.color-green {
            @include curvestyle(#3bbd17, #0f0f10);
    }
}

@mixin bubbleafter($color) {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 85%;
    background-color: $color;
}

.bubble {
    &.color-red {
        &::after {
            @include bubbleafter(#c7210b);
        }

    }

    &.color-blue {
        &::after {
            @include bubbleafter(#3c31dd);
        }

    }

    &.color-gray {
        &::after {
            @include bubbleafter(#8495AE);
        }
    }

    &.color-green {
        &::after {
            @include bubbleafter(#3bbd17);
        }
    }
}

.red {
    background-color: #c7210b;
}

.blue {
    background-color: #3c31dd;
}

.grey {
    background-color: #8495AE;
}

.black {
    background-color: #0f0f10;
}
.green {
    background-color: #3bbd17;
}


p {
    z-index: 2;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 262px;
}

.wave .shape-fill-red {
    fill: #c7210b;
}

.wave .shape-fill-blue {
    fill: #3c31dd;
}

.wave .shape-fill-grey {
    fill: #8495AE;
}